.bgimg{
	background-image: url('https://res.cloudinary.com/dszmrxu6c/image/upload/v1672224532/mobile-background_rhya7n.webp');
	background-size: cover;
	height: 100vh;
}
.layoutcard{
	background-color: white;
	height: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px;
}
.heading{
	color: darkslateblue;
	font-family: Roboto;
	font-weight: bold;
}
.paraline{
	font-family: Roboto;
	color: darkslateblue;
}
button{
	width: 300px;
}